body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_logo i {
    color: #d49466;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    /* 로고, 메뉴바가 수직 */
    .navbar {
        flex-direction: column;
        align-items: flex-start;    /* 로고, 메뉴바 왼쪽 정렬 */
        padding: 8px 24px;      /* hover시 한 줄 가득 색상표시 X */
    }
    /* 메뉴바가 한 줄에 하나씩 */
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;    /* 메뉴바 가운데 정렬 */
        width: 100%;        /* 메뉴바 가운데 정렬 위해 너비늘림 */
    }
    /* 메뉴바 hover시 컨텐츠박스가 아닌 한 줄에 색상표시 */
    .navbar_menu li {
        width: 100%;
        text-align: center;     /* text는 왼쪽 정렬이 기본값이므로 center로 수정 */
    }
    
    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toogleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}